*{
	padding: 0px;
	border: 0px;
	margin: 0px;
}
#magic{
	background-color:white;
	font-family: monospace;
	font-size:4rem;
	text-align: center;
	border-right: 1px solid #777;
	padding-right: 7px;
	display: inline;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#enter{
	display: inline;
  	position: absolute;
  	top: 70%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#intro{
	background-image: url("../images/desk.jpg");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
   	width: 100%;
   	margin-bottom: 5%;
}
#intro div{
	position: absolute;
  	top: 29%;
  	left: 65%;
  	transform: translate(-50%, -50%);
  	color: #60b3f3;
}
#intro h1{
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 10%;
}
#contact{
	background-color: #000000;
}
/*.appear{
   	display: none;
}*/
/*#icons li{
	display: block;
	width: 75%;
	padding-left: 10px;
	padding-bottom: 100px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  /*border-radius: 50%;*/
/*}
.fa:hover{
    opacity: 0.7;
}
.fa-twitter {
  border: 2px solid #55ACEE;
  width: 45%;
  background-color: #0808a9;

}
.fa-github{
	border: 2px solid white;
	width: 45%;
 	background-color: black
}
.fa-linkedin {
  border: 2px solid #007bb5;
  width: 45%;
  background-color: #0808a9;*/*/