*{
	padding: 0px;
	border: 0px;
	margin: 0px;
}
#magic{
	background-color:white;
	font-family: monospace;
	font-size:4rem;
	text-align: center;
	border-right: 1px solid #777;
	padding-right: 7px;
	display: inline;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#enter{
	display: inline;
  	position: absolute;
  	top: 70%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#intro{
	background-image: url("../images/desk.jpg");
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
   	width: 100%;
   	margin-bottom: 5%;
}
#intro div{
	position: absolute;
  	top: 29%;
  	left: 65%;
  	transform: translate(-50%, -50%);
  	color: #60b3f3;
}
#intro h1{
	font-weight: 600;
	font-size: 50px;
	margin-bottom: 10%;
}
#contact{
	background-color: #000000;
}
#skills img{
    width: 5%;
    height: 5%;
}
#projects .row{
  margin: 4%;
}
#projects img{
  width: 100%;
  border: 1px solid gray;
}
.des{
  margin-top: 5%;
  margin-left: 5%;
}
#contact li{
  list-style: none;
}